{{- if and .Values.ingress ( .Values.ingress.enabled ) }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "demo-pod.fullname" . }}
spec:
  rules:
  - host: example.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "demo-pod.fullname" . }}
            port:
              number: {{ .Values.service.port }}
{{- end }}
