replicaCount: 1

image:
  repository: nginx
  tag: latest

service:
  port: 80

serviceAccount:
  create: true
  name: ""
ingress:
  enabled: false
  # You can add other ingress related values here if needed
