replicaCount: 1

image:
  repository: nginx
  tag: latest

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  # aap yahan ingress ka config bhi de sakte hain agar chahiye

serviceAccount:
  create: true
  name: ""
